spring:
  application:
    name: healthy-food-backend
  datasource:
    url: jdbc:postgresql://dpg-d5ug2fnfte5s73ealms0-a.frankfurt-postgres.render.com:5432/cooking_v0g5?sslmode=require
    username: root
    password: 78RAnG0eIxlXycr8b2tkJjBUPMwmA3pK
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
  jpa:
    hibernate:
      ddl-auto:  update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: false
        jdbc:
          batch_size: 20
          default_schema: public
          jdbc.lob.non_contextual_creation: true
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    validate-on-migrate: true
  jackson:
    serialization:
      fail-on-empty-beans: false
    deserialization:
      fail-on-unknown-properties: false
server:
  port: 8081
  address: 0.0.0.0
  servlet:
    context-path: /api
app:
  jwt:
    secret: ZGFzZGJmaHNicWk5ODc0NWtqbmJjbGt1ZXl3aXJ1cG9hc2RmbmtqYXNmaGtq
    expiration: 86400000
cors:
  allowed-origins: "http://localhost:3000,http://10.0.2.2:8080,http://localhost,http://127.0.0.1,capacitor://localhost,ionic://localhost"
  allowed-methods: "GET,POST,PUT,DELETE,OPTIONS"
  allowed-headers: "*"
  allow-credentials: true
  logging:
level:
  org.springframework.security: INFO
  org.springframework.web: INFO
  org.hibernate.SQL: WARN
  org.hibernate.type.descriptor.sql.BasicBinder: TRACE
